* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 1em/1.6 "Playfair Display", serif;
  color: #333;
  padding-top: 60px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Lato, sans-serif;
  line-height: 1.2;
  margin-bottom: 5px;
}

input {
  font-size: inherit;
  padding: 6px 12px;
  display: inline-block;
}

img {
  max-width: 100%;
}

p {
  margin: 0 0 1em;
}

p:last-child {
  margin-bottom: 0;
}

.is-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.is-block {
  display: block;
}

.appname {
  color: red;
}

live-icon {
  display: block;
  float:left;
}

.is-fixed {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background: #000;
  z-index: 100;
}

.header {
  color: #fff;
  height: 60px;
}

.header .logo {}
.header .logo-image img {
  height: 40px;
  position: relative;
  top: 10px;
  margin-right: 10px;
}
.header .logo-text{
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-size: 20px;
}

.header {}

.hero {
  font-family: Lato, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  height: 500px;
  margin-bottom: 24px;
  font-size: 2em;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.hero input {
  max-width: 400px;
}

.image-icon {
  color: #fff;
  -webkit-filter: invert(100%);
}
.image-content {
  max-height: 250px;
  display: block;
  margin: auto;
}
.image-hero {
  border: 0;
  position: absolute;
  min-width: 150%;
  min-height: 150%;
  left: -25%;
  top: -25%;
  z-index: 0;
  -moz-filter: blur(2px);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.callout {
  background: teal;
  color: #fff;
  padding: 24px !important;
}

.hero:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.2);
  z-index: 1;
  height: 100%;
  width: 100%;
  
}

.hero-content {
  position: relative;
  z-index: 99;
}

.contain {
  max-width: 1000px;
  margin: auto;
  padding:0 20px;
}

.columns {
  float: left;
  padding: 10px;
}

.large-4 {
  width: 33.333333%;
}

.large-6 {
  width: 50%;
}

.large-12 {
  width: 100%;
}

.clearfix {
  overflow: hidden;
  clear: both;
}

.module {
  padding: 12px;
  margin-bottom: 12px;
}

.module-media {
  margin: 24px 0;
}

@media screen and (max-width: 700px) {
  
  .hero {
    height: 300px;
  }
  
  .module {
    margin-bottom: 0;
  }
  
  .small-12 {
    width: 100%;
  }
  
  .columns { }
  
}