<header class="hero" role="banner">
  <div class="contain">
    <form method="get" action="">
      <label for="sn" class="is-hidden">Enter site name</label>
      <input type="text" id="sn" name="sn" placeholder="type a noun">.app
      <button type="submit" class="is-hidden">Generate Site</button>
    </form>
  </div><!--/.contain-->
</header><!--/.hero-->

<main  class="main" role="main">
<div class="contain">
  
  <section class="module large-4 small-12 columns">
    <h1 class="module-header">Build faster with {{text}}!</h1>
    <p class="module-content">Fixie tofu +1, kale chips twee iPhone selvage. Swag artisan Helvetica VHS Marfa. Aesthetic chia PBR meggings, stumptown Pinterest pork belly. Synth banjo typewriter, you probably haven't heard of them Portland semiotics Thundercats skateboard Austin single-origin coffee literally farm-to-table.</p>
  </section><!--/.module-->
  
  <section class="module large-4 small-12 columns">
    <h1 class="module-header">Be on budget with {{text}}!</h1>
    <p class="module-content">Banksy raw denim cray XOXO Tumblr asymmetrical. Pinterest banh mi vegan, farm-to-table readymade typewriter kitsch hoodie flexitarian Wes Anderson. YOLO Marfa put a bird on it, pug chillwave organic 3 wolf moon swag ethnic. Single-origin coffee Tumblr Blue Bottle fingerstache artisan church-key.</p>
  </section><!--/.module-->
  
  <section class="module large-4 small-12 columns">
    <h1 class="module-header">{{text}} will shorten meetings!</h1>
    <p class="module-content">Vinyl four loko PBR leggings, gastropub aesthetic Thundercats ethnic. Umami tousled four loko Shoreditch, craft beer bicycle rights slow-carb skateboard Helvetica. Literally Pitchfork hashtag, salvia Pinterest tousled pour-over Blue Bottle. Odd Future next level dreamcatcher Austin wayfarers direct trade.</p>
  </section><!--/.module-->
  
  <section class="module module-media clearfix">
    <div class="large-6 small-12 columns">
      <img src="http://placehold.it/600x250" alt="placeholder" class="is-block">
    </div>
    <div class="large-6 small-12 columns">Vinyl four loko PBR leggings, gastropub aesthetic Thundercats ethnic. Umami tousled four loko Shoreditch, craft beer bicycle rights slow-carb skateboard Helvetica. Literally Pitchfork hashtag, salvia Pinterest tousled pour-over Blue Bottle. Odd Future next level dreamcatcher Austin wayfarers direct trade.</div>
  </section><!--/.module-->
  
  <section class="module module-media clearfix">
    <div class="large-6 small-12 columns">Banksy raw denim cray XOXO Tumblr asymmetrical. Pinterest banh mi vegan, farm-to-table readymade typewriter kitsch hoodie flexitarian Wes Anderson. YOLO Marfa put a bird on it, pug chillwave organic 3 wolf moon swag ethnic. Single-origin coffee Tumblr Blue Bottle fingerstache artisan church-key.</div>
    <div class="large-6 small-12 columns">
      <img src="http://placehold.it/600x250" alt="placeholder" class="is-block">
    </div>
  </section><!--/.module-->
  
  <section class="module module-media clearfix">
    <div class="large-6 small-12 columns">
      <img src="http://placehold.it/600x250" alt="placeholder" class="is-block">
    </div>
    <div class="large-6 small-12 columns">Fixie tofu +1, kale chips twee iPhone selvage. Swag artisan Helvetica VHS Marfa. Aesthetic chia PBR meggings, stumptown Pinterest pork belly. Synth banjo typewriter, you probably haven't heard of them Portland semiotics Thundercats skateboard Austin single-origin coffee literally farm-to-table.</div>
  </section><!--/.module-->
  
</div><!--/.contain-->
</main><!--/.main-->

<footer class="footer" role="contentinfo">
  <div class="contain">
    <div class="module">
      <p>Copyright 2014 siteGen.js</p>
    </div><!--/.module-->
  </div><!--/.contain-->
</footer>