<div ng-controller="siteGenCtrl">
<div class="is-fixed header">
  <div class="contain">
    <span class="logo">
      <span class="logo-image"><live-icon></live-icon></span>
      <span class="logo-text">{{input.noun}}.js</span>
    </span>
  </div><!--/.contain-->
</div><!--/.is-fixed-->

<header class="hero" role="banner">
  <div class="contain">
      <live-hero></live-hero>
      
      <div class="hero-content">
      <form method="get" action="">
          <label for="sn" class="is-hidden">Enter site name</label>
          <input type="text" value="hammer" id="sn" name="sn" placeholder="type a noun" ng-model="input.noun" ng-change="update()">.js
          <button type="submit" class="is-hidden">Generate Site</button>
        </form>
      </div>
  </div><!--/.contain-->
</header><!--/.hero-->

<main  class="main" role="main">
  
  <div class="contain">
    <section class="module large-4 small-12 columns">
      <div class="module-header">
        <h1>Build faster with <span class="appname">{{input.noun}}.js</span>!</h1>
      </div>
      
      <div class="module-content">
        <lipsum></lipsum>
      </div>
    </section><!--/.module-->
    
    <section class="module large-4 small-12 columns">
      <div class="module-header">
        <h1>Be on budget with <span class="appname">{{input.noun}}.js</span>!</h1>
      </div>
      
      <div class="module-content">
        <lipsum></lipsum>
      </div>
    </section><!--/.module-->
    
    <section class="module large-4 small-12 columns">
      <div class="module-header">
        <h1><span class="appname">{{input.noun}}App</span> will shorten meetings!</h1>
      </div>
      <div class="module-content">
        <lipsum></lipsum>
      </div>
    </section><!--/.module-->
  </div>
  
  <section class="module module-media clearfix">
  <div class="contain">
    <div class="large-6 small-12 columns">
      <img src="{{pictures[0].src}}" alt="{{picture[0].alt}}" class="image-content">
    </div>
    <div class="large-6 small-12 columns">
      <lipsum></lipsum>
    </div>
  </div>
  </section><!--/.module-->
  
  <section class="module module-media clearfix callout">
    <div class="contain">
      <div class="large-6 small-12 columns">
        <lipsum></lipsum>  
      </div>
      <div class="large-6 small-12 columns">
        <img src="{{pictures[1].src}}" alt="{{picture[1].alt}}" class="image-content">
      </div>
    </div>
  </section><!--/.module-->
  
  <section class="module module-media clearfix">
    <div class="contain">
    <div class="large-6 small-12 columns">
      <img src="{{pictures[2].src}}" alt="{{picture[2].alt}}" class="image-content">
    </div>
    <div class="large-6 small-12 columns">
      <lipsum></lipsum>
    </div>
    </div>
  </section><!--/.module-->
  
</div><!--/.contain-->
</main><!--/.main-->

<footer class="footer" role="contentinfo">
  <div class="contain">
    <div class="module">
      <p>Copyright 2014 <span class="appname">{{input.noun}}.js</span></p>
    </div><!--/.module-->
  </div><!--/.contain-->
</footer>

</div><!--initForm-->